<!-- Modal -->
<form id="frmCategory" data-toggle="validator" role="form"  > 
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;</button>
            <h4 class="modal-title" id="H4">
                Add/Edit Category</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Category Name <label style="color:red;font-size: 13px">*</label></label>
                    <div class="col-md-7">
                        <input type="text" id="txtCategoryName" class="form-control" placeholder="Enter the Category Name" data-rolecmd="Payroll-Dashboard-Category-Name" 
                         maxlength="20" autofocus required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Display Order <label style="color:red;font-size: 13px">*</label>
                    </label>
                    <div class="col-md-7">
                        <input type="text" id="txtDisOrder" onkeypress="return $validator.IsNumeric(event, this.id)" oncopy="return false" onpaste="return false" class="form-control" placeholder="Enter the Display Order" data-rolecmd="Payroll-Dashboard-Category-Order"	
                            maxlength="3" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnCategorySave" class="btn custom-button" data-rolecmd="Payroll-Dashboard-Category-Save">
                Save</button>
            <button type="button" class="btn custom-button" data-dismiss="modal">
                Close</button>
        </div>
    </div>
</div>    
</form>


@*<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI ProgressBar functionality</title>
    <link href="~/assets/css/jquery-progressbarui.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-progress-bar-1.10.2.js"></script>
    <script src="~/assets/js/jquery-progressbar-ui.js"></script>
    <style>
        .ui-widget-header {
            background: #cedc98;
            border: 1px solid #DDDDDD;
            color: #333333;
            font-weight: bold;
        }

        .progress-label {
            position: absolute;
            left: 50%;
            top: 13px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }
    </style>
</head>
<body>
    <div id="progressbar-5">
        <div class="progress-label">
            Saving...
        </div>
    </div>
</body>
</html>*@
