@{
    ViewBag.Title = "CompanyView";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="col-md-12" id="dvCatMasterField">

    </div>
</div>

<script src="~/Js/DataWizard/DWCatMasterfield.js"></script>
@section scripts
    {
    <script src="~/Js/DataWizard/DWCatMasterfield.js"></script>

}
