@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    if (Session["UserId"] == null)
    {
        Layout = "~/Views/Shared/_UserMaster.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
}
<div class="main-container">

    <div class="marginleft25">
        <div class="sub">
            @if (Session["UserId"] == null)
            {
                @Html.RouteLink("Back to login", new { action = "Index", controller = "Login" });
            }
            else
            {
                @Html.RouteLink("Back to Home", new { action = "Index", controller = "Home" });
            }
        </div>
        <img width="25%" height="25%" src="~/assets/images/403Error.jpg" />

    </div>
</div>
