
<div class="col-md-12 table-responsive">
    <table id="tblempexpens" class="table table-responsive table-striped table-hover table-condensed userTablehand dataTable no-footer">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    EmployeeCode
                </th>
                <th>
                    Cost Center
                </th>
                <th>
                    Cost Center Manager
                </th>
                <th>
                    Purpose For Expense
                </th>
                <th>
                    Category Of Expense
                </th>
                <th>
                    Date Of Expense
                </th>
                <th>
                    Cost of Expense
                </th>
                <th>
                    Description Of Expense
                </th>
                <th>
                    Date Submitted
                </th>
                <th>
                    Status
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Action
                </th>
            </tr>

        </thead>
    </table>

</div>
<script src="~/Js/Emp/Emp_Expense.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $empExpens.expense();
    })
</script>