<div class="col-sm-12">
    <button id="btnAddMapping" type="button" data-toggle="modal" data-target="#empExpenses" class="btn custom-button pull-right">
        Add
    </button>
</div>

<div class="modal fade" id="empExpenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="frmExpense" class="form-horizontal " role="form" action="javascript:$empExpens.save()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title" id="H4">Expense Form</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Employee ID
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Your Employee Id" id="empId" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Cost Center
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Your Cost Center" id="txtCostCenter" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Cost Center Manager
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter a Name Or Email" id="txtCostMgr" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Business Purpose For Expense
                        </label>
                        <div class=" col-md-8">
                            <textarea placeholder="Enter Value Here" class="form-control" id="txtPurpose">  </textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Category  Of Expense
                        </label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Select The Category of Your Expenes " id="txtCategory" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Date of Expense Item
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control datepickerDOB  " id="txtItemDate" placeholder="Enter The Expense Item Date" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Cost of Expense
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control    " id="txtCostExpense" placeholder="Enter The Number" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Description of Expense
                        </label>
                        <div class="col-md-8">
                            <textarea placeholder="Enter Value Here" style="height:200px" rows="6" class="form-control" id="txtDescrip">  </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Date Submitted
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control datepickerDOB  " id="txtSubmitDate" placeholder="Select Today's Team And Submitted" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-4">
                                Status
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control    " id="txtStatus" placeholder="" />
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Attchment
                        </label>
                        <div class="col-md-8">
                            <input type="file" class="form-control " id="txtfile" placeholder="Add Attchment" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </div>

        </div>
    </form>
</div>
@Html.Partial("~/Views/Employee/Emp_ExpenseTable.cshtml")

<script src="~/Js/PayrollMain.js"></script>
