@{
    ViewBag.Title = "Form 12 BA";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_HomeLayout.cshtml";

}



<div class="row">
    <div class="col-sm-12">
        <h4>Previous Form 12 BA</h4>
        <div id="payslipTree" style="width: 300px; height: 600px; overflow: scroll;overflow:auto">

        </div>
    </div>

</div>
<script src="~/Js/salaryView.js"></script>

<script>
    $slaryView.LoadForm16List("FORM12BA");
</script>