<ul class='wraplist' id="ulPayMenu">
 

  
    <li class="">
        <a style="display: none;" href="#" id="TimeOfficeSetting">
            <i class="fa fa-table"></i><span class="title">Settings</span>
           
        </a>

    </li>

   
    
</ul>
