@model PayrollBO.Employee


@{
    Layout = "~/Views/Shared/_UserMaster.cshtml";
}

@{
    ViewBag.Title = "Error";
}

<h2>
   Sorry, you have already registered.For further details please contact your HR.
</h2>