<h2>Show Password</h2>

<div class="form-horizontal">
    <div class="col-md-12">
        <div class="col-md-12">

            <div class="form-group">
                <input id="hdnCompId"
                       name="hiddenId"
                       type="hidden"
                       value="@Session["CompanyId"]" />
                <label class="control-label col-md-5">
                    Employee code:
                </label>
                <div class="col-md-6 ">
                    <select class="form-control" id="sltEmpCodeSP"></select>
                </div>
                <label class="control-label col-md-5 nodisp" id="lblempnamesp">
                    Employee Name:
                </label>
                <div class="col-md-6 ">
                  <input type="text" id="empnamesp" class="form-control nodisp" readonly />
                </div>
                <label class="control-label col-md-5 nodisp" id="lblusernamesp">
                    User Name:
                </label>
                <div class="col-md-6 ">
                   
                        <input type="text" id="usernamesp" class="form-control nodisp" readonly />
                    
                </div>
                <label class="control-label col-md-5 nodisp" id="lblemppasswordsp">
                    Password:
                </label>
                <div class="col-md-6 ">
                    
                        <input type="text" id="emppasswordsp" class="form-control nodisp" readonly />
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Js/Leave/leaveRequest.js" type="text/javascript"></script>
<script src="~/Js/Company/CompanyCom.js" type="text/javascript"></script>
<script src="~/Js/Company/ShowPassword.js"></script>
<script>
    $companyCom.loadEmployee({ id: 'sltEmpCodeSP' });
</script>

