

@{
    ViewBag.Title = "CompanyView";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="form-horizontal">


    <div class="row">

        <div class="col-md-12">
            <div class="col-md-10">

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Month
                        </label>
                        <div class="col-md-8">
                            <select id="sltMonth" class="form-control">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Year
                        </label>
                        <div class="col-md-8">
                            @*<input type="text" id="sltYear" class="form-control" onkeypress="return $validator.IsNumeric(event,this.id)" maxlength="4" />*@
                            <select id="sltYear" class="form-control" autofocus></select>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10">

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            EmployeeCode
                        </label>
                        <div class="col-md-8">
                            <input type="text" id="txtEmpcode" value="" class="form-control">
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Views/DataWizard/Category.cshtml")

        </div>
        <div class="col-md-2">
            <input type="button" id="btngeneratepdf" value="Generate PDF" onclick="$taxHistory.getWorkSheet()" class="btn custom-button btnRight">
        </div>
    </div>
</div>


<div id="dvError" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title" id="H4">
                    Payroll Error
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="dvErrorMsg">

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn custom-button" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div id="dynamicProcessForm" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <iframe id='downloadfileIframe' src="~/Entity/DownLoad"></iframe>
</div>


<script src="~/Js/Tax/txProcess.js"></script>
<script src="~/Js/Company/CompanyCom.js"></script>
<script src="~/Js/DataWizard/Payslipsetting.js"></script>
@section Scripts
{
 <script src="~/Js/Tax/txProcess.js"></script>
    <script src="~/Js/Company/CompanyCom.js"></script>
}

<script>
    $dwcategory.designForm('DataWizardHtml');
    $dwcategory.loadComponent();
    $companyCom.loadYear({ id: "sltYear" });
</script>
