

@{
    ViewBag.Title = "EmployeeLeavedashboard";
}
<script src="~/assets/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="~/assets/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Js/Leave/EmployeeLeaveReport.js"></script>
<script src="~/assets/plugins/TableTools-master/js/dataTables.tableTools.js" type="text/javascript"></script>
<script src="~/Js/application.js"></script>
<script src="~/Js/Leave/Calendar.js"></script>

<script src="~/Content/make-a-dropdown-with-search-box-using-jquery/select2/dist/js/select2.js"></script>
<script src="~/Content/make-a-dropdown-with-search-box-using-jquery/select2/dist/js/select2.min.js"></script>
<link href="~/Content/make-a-dropdown-with-search-box-using-jquery/select2/dist/css/select2.css" rel="stylesheet" />
<link href="~/Content/make-a-dropdown-with-search-box-using-jquery/select2/dist/css/select2.min.css" rel="stylesheet" />

<div>
    <h2>Manager Leave Balance Report</h2>
</div>

<div class="form-horizontal">
    <form id="frmEmpLevDetails">
        @*<div class="form-group col-md-6 ">
            <label class="control-label col-md-4">
                Employee Code <label style="color:red;font-size: 13px">*</label>
            </label>
            <div class="col-md-4">
                <select class="form-control" id="sltemployeecode" onchange="$EmployeeLeaveReport.Employeeselect()"></select>
            </div>
            <div class="col-md-4">
                <a class="form-control" id="lnReptExport">Click Here To Export All Employee Data</a>
            </div>
        </div>*@
        <div class="form-group col-md-6 ">
            <label class="control-label col-md-5">
                Employee Code <label style="color:red;font-size: 13px">*</label>
            </label>
            <div class="col-md-7">
                <select class="form-control" id="sltemployeecode" onchange="$EmployeeLeaveReport.Employeeselect()"></select>
            </div>

        </div>
        <div class="col-md-12 nodisp" id="IdRptlevbal">
            <div class="form-group">
                <table id="tblHRbalReport">
                    <thead>
                        <tr>

                            <th>
                                Leave Type
                            </th>
                            <th>
                                Total Leave
                            </th>
                            <th>
                                Leave Used
                            </th>
                            <th>
                                Leave Available
                            </th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script src="~/Js/Company/CompanyCom.js" type="text/javascript"></script>
<script src="~/Js/Leave/LeaveReport.js"></script>
<script>
    
    $LeaveReport.loadEmployeeUnderassignmanagerforlevbalrept({ id: 'sltemployeecode' });
    $('#sltemployeecode').select2();
</script>
